<!DOCTYPE html>
<html>
  <head>
    <title>Better Weigh Medical Landing Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>
  <body>
        <header>  
          <nav>
            <ul class="navGral">
              <img class="logo"  src="images/logo.png" alt="Logo"> 
                <li> About Us </li>
                <li> Book Online</li>
                <li> Weight Loss Programs</li>
                <li> Real Patients Stories</li>
                <li> Locations </li>
                <li> Blog </li>
                <li> Subscription </li>
                <li> Shop </li>
                <img class="hamburguer"src="images/menu.png" alt="">
              </ul> 
          </nav>   
         </header>           
          
 
        <main class="top">
            <div class="background">
                <img src="images/background.png" alt="" class="background">
                <img src="images/backgroundcel.png" alt="" class="backgroundcel">
                <img src="images/backgroundtab.png" alt="" class="backgroundtab">
                <img src="images/ellipse1.png" alt="" class="ellipse1">
                <img src="images/ellipse2.png" alt="" class="ellipse2">
                <img src="images/ellipse3.png" alt="" class="ellipse3">
            </div>  
            <div class="clock">
                  <img src="images/clock.png" alt="" class="clock" >
            </div>
            <div class="text1">
                  <p>Chicago’s <span style="color:#DD71C6">Free</span> Medical Check-Up and Weight Loss Consultation</p>
            </div>
            <div class="text2">
                  <p>There are limited spots due to the Physicians schedule and the high demand for service. No credit card or insurance required.</p>
            </div>
            <div class="spots">
              <img src="images/spots.png" alt="" class="spots">
            </div>
            <div class="button">
              <img src="images/button.png" alt="" class="button">
            </div>
        </main>    
        
        <section>
            <div class="banner">
                <img src="images/banner.png" alt="" class="banner">
                <img src="images/bannertab.png" alt="" class="bannertab">
                <img src="images/bannercel.png" alt="" class="bannercel">
              </div>

            <div class="who">
                <img src="images/who.png" alt="" class="who">
                <img src="images/whotab.png" alt="" class="whotab">
                <img src="images/whocel.png" alt="" class="whocel">
            </div>
            
            <div class="textcel1q">
                <h2>Who Is The Consultation For?</h2>
             </div>
            <div class="textcel1">
              <p>Chicago’s free medical check-up and weight loss consultation is for Chicago residents who are looking to lose weight so they can live a long, vibrant and healthy life, while looking good and not breaking the bank.</p>
           </div>

           <div class="textcel2q">
            <h2>How does it work?</h2>
            </div>
            <div class="textcel2">
            <p>In this exam a certified nurse or physician will do various tests to check your overall health level and find which easy-to-do physician-supervised weight loss program will work best for you.</p>
            </div>
            <div class="button">
              <img src="images/button.png" alt="" class="button2">
              <img src="images/ellipse1.png" alt="" class="ellipse1cel">
            </div>
          <div>
            <img src="images/woman.png" alt="" class="woman">
          </div>
        
        </section>
        
  </body>
</html>
