<!DOCTYPE html>
<html>
    <head>
        <title>Better Weigh Medical Landing Page</title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>

      <body>

        <div class="header">
            <nav>
                <ul class="navGral">
                  <img class="logo"  src="images/logo.png" alt="Logo"> 
                    <li> About Us </li>
                    <li> Book Online</li>
                    <li> Weight Loss Programs</li>
                    <li> Real Patients Stories</li>
                    <li> Locations </li>
                    <li> Blog </li>
                    <li> Subscription </li>
                    <li> Shop </li>
                    <img class="hamburguer"src="images/menu.png" alt="">
                  </ul> 
              </nav>   
        </div>
        
        <div class="row">
          <div class="col-3 col-s-3 menu">
            <ul>
                <img src="images/background.png" alt="" class="background">
                <img src="images/backgroundcel.png" alt="" class="backgroundcel">
                <img src="images/backgroundtab.png" alt="" class="backgroundtab">
                <img src="images/ellipse1.png" alt="" class="ellipse1">
                <img src="images/ellipse2.png" alt="" class="ellipse2">
                <img src="images/ellipse3.png" alt="" class="ellipse3">
            </ul>
          </div>
        
          <div class="col-6 col-s-9">
            <p>There are limited spots due to the Physicians schedule and the high demand for service. No credit card or insurance required.</p>
            <p>Chicago’s <span style="color:#DD71C6">Free</span> Medical Check-Up and Weight Loss Consultation</p>
          </div>
        
          <div class="col-3 col-s-12">
            <div class="aside">
                <img src="images/banner.png" alt="" class="banner">
                <img src="images/bannertab.png" alt="" class="bannertab">
                <img src="images/bannercel.png" alt="" class="bannercel">
            </div>
          </div>
        </div>
        
        <div class="footer">
          <p>Resize the browser window to see how the content respond to the resizing.</p>
        </div>
        
        </body>
        </html>
    </body>

</html>