body{
    background-color: rgb(245, 244, 244);
    width: 100%;
  }
@media (max-width: 575px) {
    .list,
    img.who,
    img.whotab,
    img.banner,
    img.bannertab,
    img.background,
    img.backgroundtab,
    .ellipse2,
    .ellipse3{
      display:none;
    }
.wrapper{
    
        display: flex;
        flex-direction: column;
             
    }
.top{
    display: flex;
    flex-direction: column ;
}        
 
.logo{
    position: absolute;
    left: 2vh;
    width: 30%;
       top: 2vh;
}
img.hamburguer {
    position: absolute;
    right: -8vh;
}
img.clock{
    z-index: 1;
    position: absolute;
    left: 6vh;
    max-width: 29%;
    opacity: 0.8;
    top: 32vh;
}

img.backgroundcel{
    margin-left: 15vh;
    width: 100%;
}
.text1{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 160%;
    color: #333333;
    position: absolute;
    top: 9vh;
    width: 28vh;
    margin-left: 21vh;

}
.text2{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 0.4em;
    line-height: 160%;
    color: #333333;
    position: absolute;
    top: 37vh;
    width: 26vh;


}

img.bannercel{
    margin-left: 26vh;
    width: 100%;
    height: 40%;
}
  
}
@media (min-width: 576px) and   (max-width: 991px){
    img.bannercel,
   img.bannertab,
    img.woman,
    img.whocel,
    img.whotab,
    .list,
    .list ul,
    img.textcel1,
    img.textcel2,
    img.backgroundtab,
    img.backgroundcel,
    img.spots,
    
    .textcel2,
    .textcel1,
    .textcel2q,
    .textcel1q,
    img.ellipse1cel,
    img.button2{
    display: none;
  } 
  .top{
    display: flex;
    flex-direction: column ;
   
}   
.hamburguer{
    margin-left: 158vh;
}     
  .logo {
    width: 52%;
    margin-left: 6vh;
}

   img.clock{
        z-index: 1;
        position: absolute;
        left: 133%;
        width: 60%;
        opacity: 0.8;
        top: 62%;
}
    
    
    .text1 {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 3em;
        line-height: 160%;
        color: #333333;
        position: absolute;
        top: 14vh;
        width: 48%;
        margin-left: 88vh;

    
    }
    img.button {
        position: absolute;
        top: 135vh;
        right: 10vh;
        height: 5vh;
        width: 33vh;
        z-index: 1;
    }
      
      .spots{
        position: absolute;
        top: 18vh;
        right: 34vh;
        height: 2vh;
        width: 31vh;
      } 

.text2{
   
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 160%;
    color: #333333;
    position: absolute;
    top: 113vh;
    width: 45%;
    margin-left: 89vh;
}
img.ellipse1{
    position: absolute;
    top: 9vh;
    right: -37vh;
    height: 89%;
    width: 60%;
    z-index: 1
  
  }
  img.ellipse2{
    position: absolute;
    top: 58vh;
    right: 35vh;
    height: 27vh;
    width: 28vh;
  }
  img.ellipse3{
    position: absolute;
      top: 42vh;
      right: 129vh;
      height: 42vh;
      width: 28vh;
      z-index: 1;
  
  }
  .mid {
    
    display: flex;
    flex-direction: column;
}

}
@media (min-width: 992px)  {
    img.bannercel,
    img.bannertab,
    img.woman,
    img.textcel1,
    img.textcel2,
    img.hamburguer,
    img.backgroundcel,
    img.backgroundtab,
    img.whotab,
    img.whocel,
    img.spots,
    .textcel2,
    .textcel1,
    .textcel2q,
    .textcel1q,
    .ellipse1,
    .ellipse2,
    .ellipse3,
    img.ellipse1cel,
    img.button2{
        display: none;
  }
    
    .logo{
        left: 2vh;
    width: 38%;
    top: 2vh;
    }
    .list ul {
        display: flex;
        flex-direction: row;
        margin-right: -50vh;
        margin-top: 4px;
        list-style: none;
        font-size: 0.8em;
        justify-content: space-around;
       
    
    }
    img.clock{
        z-index: 1;
    position: absolute;
    left: 186vh;
    max-width: 58%;
    opacity: 0.8;
    top: 46vh;
}
    
    

img.button{
    position: absolute;
    top: 121vh;
    right: 120vh;
    height: 8vh;
    width: 34vh;
}
  
  
    .text1 {
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 3em;
        line-height: 160%;
        color: #333333;
        position: absolute;
        top: 26vh;
        width: 36%;
        margin-left: 48vh;
    }

.text2{
   
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 160%;
        color: #333333;
        position: absolute;
        top: 96vh;
        width: 33%;
        margin-left: 48vh;

}
}
.wrapper {
    width:100%;
	padding:20px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
    
}
 .desktop-nav ul {
    list-style: none;
    display: flex;
	justify-content:space-between;
	align-items:right;
	flex-direction:row;
	flex-wrap:wrap;
}
.desktop-nav ul li{
    display:  inline-block;
    margin: 14px 31px;
    font-family: "monserrat";
    font-size: 14px; 
}
.clock{

        position: absolute;
        z-index: 1;
        top: 10vh;
        right: 19vh;
        width: fit-content;
        opacity: 0.8;
    
}
.background{
    width: 100%;
}
.text1{
    position: absolute;
  margin-left: 196px;
  width: 36vh;
  top: 24vh;
  right: 130vh;
  height: 264px;
  left: 13vh;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 150%;
  color: #333333;
}
.text2 {
  position: absolute;
  top: 61vh;
  right: 111vh;
  color: #333333;
  width: 425px;
  height: 78px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;    
}