 /* X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
*{
    box-sizing: border-box;
}
header{
    border: solid black;
    padding-left: 10%;
}

main{
border:solid black;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.backgroundimg{
    position: absolute;
    border:solid green;
    width: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: -1;
    
 } 
 .clock{
    border: solid orange;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    z-index: 1;
     }
    

@media  (min-width: 300px) and (max-width: 575px)  { 
.ellipse1,
.ellipse2,
.ellipse3{display: none;}
    .backgroundimg{
        position: absolute;
    border: solid green;
    width: 50%;
    height: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
        
     } 
     .over{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        align-content: center

     }
     .clock img{
        opacity: 0.9;
        width: 73%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 11%;
    }
     .text1 {
        font-size: 1.2em;
        width: 51%;
        margin-top: 14%;
        margin-left: 25%;
        border: red solid;

     }
     .text2 {
        font-size: 1em;
        width: 51%;
        margin-top: 14%;
        margin-left: 25%;
        border: red solid;;
         }
    .spots{
        text-align: center;
       }       

    .banner{
    width: 100%;
    display: flex;
    background-color: #DD71C6;
    justify-content: center;
    flex-wrap: wrap;
    }
     .banner img{
        width: 50%;
     }
    img.buttonimg {
        z-index: 1;
        width: 50%;
        margin-left: 23%;
    }

@media (min-width: 576px)  and (max-width:767px){ 
    .backgroundimg{
        position: absolute;
        border:solid green;
        width: 50%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
         } 
    .clock{
        width: 63%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 17%;
        margin-top: 38%;
     }
     .text1 {
        width: 30%;
        margin-top: 18%;
        margin-left: 30%;
        border: red solid;

     }
     .text2 {
        width: 33%;
        margin-top: 37%;
        margin-left: 30%;
        border: red solid;
         }
  
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .backgroundimg{
        position: absolute;
        border:solid green;
        width: 50%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
        
    }
    .clock{
        width: 63%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 17%;
        margin-top: 38%;
     }
     .text1 {
        width: 30%;
        margin-top: 18%;
        margin-left: 30%;
        border: red solid;

     }
     .text2 {
        width: 33%;
        margin-top: 37%;
        margin-left: 30%;
        border: red solid;
         }
}
/* // Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) and (max-width: 1199px) { 
    .backgroundimg{
        position: absolute;
        border:solid green;
        width: 50%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
        
    }
    .clock{
        width: 63%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 17%;
margin-top: 38%;
     }
    
 }
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
    .backgroundimg{
        position: absolute;
        border:solid green;
        width: 50%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
       
     }
     .clock{
        width: 63%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 17%;
margin-top: 38%;
     }
  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .backgroundimg{
        position: absolute;
        border:solid green;
        width: 50%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
       
    }
    .clock{
        width: 63%;
        position: relative;
        height: 30%;
        z-index: 1;
        left: 17%;
margin-top: 38%;
     }
    }}

