*{
    box-sizing: border-box;
}
body{
    background-color: #F9F9F9;
}
header{
    width: 80%;
    padding-left: 10%;
    }
header.container-fluid{  
    width: 90%;
    text-align: center;
}
.over{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   }
.top{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
     }
.bkg{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: -1;
    margin-bottom: 0%;

    } 
img.backgroundimg{
    width: 50%;
    height: fit-content;
   }
.banner{
    width: 100%;
    display: flex;
    background-color: #DD71C6;
    justify-content: center;
    flex-wrap: wrap;
    
    }
.spots{
    text-align: center;
    align-self: center;
    }       
.who{
    background-color: #73C3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    } 
.text1{
    align-items: center;
}
.textcel1q,
.textcel2q{
    width: 84%;
    color: #FFFFFF;
    font-family: "Libre Baskerville";
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0% 7% 7% 4%;
    padding-top: 20%;
     }
 .textcel1,
 .textcel2{
     margin: 0% 7% 7% 8%;
     padding-top: 3%;
     color: #FFFFFF;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     width: 85%;
    
    
 }
.button2{
    width: 64%;
    margin-left: 18%;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
 }
.woman{
    width: 100%;
}
img.womanimg{
    margin: 14% 11% 8% 16%;
    width: 68%;

}
.elli{
    width: 100%;
    overflow: hidden;
}
img.ellipse1cel{
    width: 50%;
    margin-left: 50%;
    position: absolute;
}
.button{
    display: flex;
    align-content: space-between;
    justify-content: center;
    
}

img.buttonimg{
    width: 50%;
    padding-bottom: 20%;
        }
@media  (min-width: 300px) and (max-width: 575px)  { 
.ellipse1,
.ellipse2,
.ellipse3{display: none;}
.circle1,
.circle2{
    display: none;
} 

img.backgroundimg{
    position: absolute;
    border-radius: 50px 0px 0px 0px;
    width: 50%;
    height: fit-content;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    } 

.clock img{
    opacity: 0.9;
    width: 73%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 11%;
   }
.text1 {
    font-size: 2em;
    width: 72%;
    margin-top: 18%;
    font-family: "Libre Baskerville";
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    }
.text2 {
    font-size: 1em;
    width: 80%;
    margin-top: 4%;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
      }
.spots{
    text-align: center;
    }       


.banner img{
    width: 50%;
    }

   .button{
    width: 50%;
    padding-bottom: 10%;
   }
   .textcel1q,
   .textcel2q{
      font-size: 2.2em;
  }
  .textcel1,
  .textcel2{
      font-size: 1.2em;
  }
}
@media (min-width: 576px)  and (max-width:767px){ 
.bkg{
    height: 100%;
}
img.backgroundimg{
    border:red dotted;
    height:fit-content;
    width: 50%;
    height: 150%;
    position: absolute;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    
    }
.clock img{
    opacity: 0.9;
    width: 65%;
    position: relative;
    height: 31%;
    z-index: 1;
    left: 15%;
    }
        
.text1 {
    font-size: 2em;
    width: 60%;
    margin-top: 10%;
    margin-left: 10%;
    

    }
.text2 {
    font-size: 1.5em;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    
        }
  img.imgbanner{
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}
img.ellipse3{
    z-index: -1;
    margin-top: -164%;
    margin-left: -163%;

}
.spots{
    text-align: center;
    font-size: 1.2em;
    }  
.circle1,
.circle2{
    display: none;
} 
.buttonimg{
    width: 60%;
    padding-bottom: 10%;
    }
.textcel1q,
.textcel2q{
        font-size: 2.5em;
        line-height: 1;
    }
.textcel1,
.textcel2{
        font-size: 1.8em;
        line-height: 2;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }
img.backgroundimg{
    border: black solid;
    width: 50%;
    height: auto;
    }
.clock img{
    opacity: 0.9;
    width: 70%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: 12%;
    margin-top: -1%;
    padding: 4%;
    }
   
.text1 {
    border: #DD71C6 solid;
    font-family: "Libre Baskerville";
    font-size: 2.1em;
    width: 45%;
    margin-top: 7%;
    margin-left: -34%;
    text-align: left;
    line-height: 1.3;
    

    }
.text2 {
    font-family: "Montserrat";
    border: orangered solid;
    font-size: 1em;
    width: 70%;
    margin-top: 10%;
    margin-left: -12%;
    text-align: left;
   
        }
img.imgbanner{
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.elli3{
    border: red solid;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    
}

.circle2{
    overflow: hidden;
    align-self: flex-start;
    margin-top: -47%;
  }

.circle1{
    border: rgb(21, 255, 0) solid;
    overflow: hidden;
    align-self: flex-end;
    margin-top: -47%;
 }
.circle1img{
    align-self: flex-start;
    left: 11%;
    top:50px
}

.spots{
    text-align: center;
    font-size: 1.2em;
    }       
img.buttonimg{
width: 55%;
    }
 .textcel1q,
 .textcel2q{
    font-size: 2.8em;
    line-height: 1;
}
.textcel1,
.textcel2{
    font-size: 1.5em;
}
}
   
@media (min-width: 992px) and (max-width: 1199px) { 
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }
img.backgroundimg{
    border: black solid;
    width: 50%;
    height: auto;
    }
.clock img{
    opacity: 0.9;
    width: 70%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: 12%;
    margin-top: -1%;
    padding: 4%;
    }

.text1 {
    border: #DD71C6 solid;
    font-family: "Libre Baskerville";
    font-size: 2.1em;
    width: 45%;
    margin-top: 7%;
    margin-left: -34%;
    text-align: left;
    line-height: 1.3;


    }
.text2 {
    font-family: "Montserrat";
    border: orangered solid;
    font-size: 1em;
    width: 48%;
    margin-top: 28%;
    margin-left: -40%;
    text-align: left;

    }
img.imgbanner{
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
    }
.elli3{
    border: red solid;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    }

.circle2{
    overflow: hidden;
    align-self: flex-start;
    margin-top: -47%;
    }

.circle1{
    border: rgb(21, 255, 0) solid;
    overflow: hidden;
    align-self: flex-end;
    margin-top: -47%;
    }
.circle1img{
    align-self: flex-start;
    left: 11%;
    top:50px
    }

.spots{
    text-align: center;
    font-size: 1.2em;
    }       
img.buttonimg{
    width: 55%;
    }
.textcel1q,
.textcel2q{
    font-size: 2.8em;
    line-height: 1;
    }
.textcel1,
.textcel2{
    font-size: 1.5em;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }
img.backgroundimg{
    border: black solid;
    width: 50%;
    height: auto;
    }
.clock img{
    opacity: 0.9;
    width: 70%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: 12%;
    margin-top: -1%;
    padding: 4%;
    }
.textcel1q,
.textcel2q{
    font-size: 2.8em;
    line-height: 1;
    }
.textcel1,
.textcel2{
    font-size: 1.5em;
    }

    }

@media (min-width: 1400px) {
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }
img.backgroundimg{
    border: black solid;
    width: 50%;
    height: auto;
    }
.clock img{
    opacity: 0.9;
    width: 70%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: 12%;
    margin-top: -1%;
    padding: 4%;
    }
.textcel1q,
.textcel2q{
    font-size: 3em;
    line-height: 1;
    }
.textcel1,
.textcel2{
    font-size: 2em;
    }
    }

