 
*{
    box-sizing: border-box;
}
body{
    background-color: #F9F9F9;
}
header{
    width: 80%;
    padding-left: 10%;
    }
header.container-fluid{
    width: 90%;
    text-align: center;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: column;

    }
.backgroundimg{
    position: absolute;
    opacity: 0.9;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    } 

.who{
    background-color:#73C3F4 ;
    }   
.banner{
    width: 100%;
    display: flex;
    background-color: #DD71C6;
    justify-content: center;
    flex-wrap: wrap;
    }
.spots{
    text-align: center;
    }       

@media  (min-width: 300px) and (max-width: 575px)  { 
.ellipse1,
.ellipse2,
.ellipse3{display: none;}
.backgroundimg{
    position: absolute;
    
    width: 50%;
    height: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    } 
.over{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    align-content: center

    }
.clock img{
    opacity: 0.9;
    width: 73%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 11%;

    }
.text1 {
    font-size: 1.2em;
    width: 51%;
    margin-top: 14%;
    margin-left: 25%;
    

    }
.text2 {
    font-size: 1em;
    width: 51%;
    margin-top: 14%;
    margin-left: 25%;
    
    }
.spots{
    text-align: center;
    }       


.banner img{
    width: 50%;
    }
img.buttonimg {
    z-index: 1;
    width: 50%;
    margin-left: 23%;
    }
}
@media (min-width: 576px)  and (max-width:767px){ 
.backgroundimg{
    position: absolute;
  
    width: 50%;
    height:100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
        } 
.clock img{
    
    opacity: 0.9;
    width: 65%;
    position: relative;
    height: 31%;
    z-index: 1;
    left: 15%;
    }
        
.text1 {
    font-size: 2em;
    width: 60%;
    margin-top: 10%;
    margin-left: 10%;
    

    }
.text2 {
    font-size: 1.5em;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    
        }
  img.imgbanner{
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}
img.ellipse3{
   
    position: relative;
    z-index: -1;
    margin-top: -47%;
    width: 30%;

}
.spots{
    text-align: center;
    font-size: 1.2em;
    }       

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
.backgroundimg{
    position: absolute;
    width: 50%;
    height: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    }
.clock img{
    
    width: 62%;
    position: relative;
    height: 19%;
    z-index: 1;
    left: 19%;
    margin-top: -1%;
    }
.text1 {
    font-size: 2em;
    width: 45%;
    margin-top: 7%;
    margin-left: 15%;
    

    }
.text2 {
    font-size: 1.2em;
    width: 70%;
    margin-top: 10%;
    margin-left: 12%;
   
        }
img.imgbanner{
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
}
img.ellipse3{
   
    position: relative;
    z-index: -1;
    margin-top: -47%;
    width: 30%;

}
.spots{
    text-align: center;
    font-size: 1.2em;
    }       

}
/* // Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) and (max-width: 1199px) { 
body{
background-color: #F9F9F9;
}
.backgroundimg{
    position: absolute;
    border:solid green;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    }
.clock{
    width: 63%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 17%;
    margin-top: 38%;
    }
    
 }
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
.backgroundimg{
    position: absolute;
    border:solid green;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    }
.clock{
    width: 63%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 17%;
    margin-top: 38%;
    }
  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
.backgroundimg{
    position: absolute;
    border:solid green;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;

    }
.clock{
    width: 63%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 17%;
    margin-top: 38%;
    }
    }

