*{
    box-sizing: border-box;
}

body{
    background-color: #F9F9F9;
}
header{
    width: 80%;
    padding-left: 10%;
    }
header.container-fluid{  
    width: 90%;
    text-align: center;
}
.over{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10%;
   }
.top{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    
     }
.bkg{
    display: flex;
    flex-direction: column;
     } 

.banner{
    width: 100%;
    display: flex;
    background-color: #DD71C6;
    justify-content: center;
    flex-wrap: wrap;
    
    }
.spots{
    text-align: center;
    align-self: center;
    }       
.who{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    } 
.text1{
    font-family: "Libre Baskerville";
    align-items: center;
}
.textcel1q,
.textcel2q{
    width: 84%;
    color: #FFFFFF;
    font-family: "Libre Baskerville";
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0% 7% 7% 4%;
    padding-top: 20%;
     }
 .textcel1,
 .textcel2{
    margin: -9% 4% 6% 8%;
    padding-top: 0%;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    width: 81%;
}
    
    
 
.button2{
    width: 51%;
    margin-left: 24%;
    margin-bottom: 10%;
 }
.woman{
    width: 100%;
    background-color: #73C3F4;
}
img.womanimg{
    margin: 14% 11% 8% 16%;
    width: 70%;

}
.elli{
    align-self: flex-end;
    width: 50%;
    overflow: hidden;
}
img.ellipse1cel{
    width: 24%;
    position: absolute;
    left: 76%;
    top: 122%;
} 

.button{
    display: flex;
    align-content: space-between;
    justify-content: center;
    
}
.navbar-toggler-icon{
    color: #DD71C6;
}
img.buttonimg{
    width: 50%;
    padding-bottom: 20%;
        }
        .low{
            overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #73C3F4;
        width: 100%;
        }
    
@media  (min-width: 200px) and (max-width: 575px)  { 
.ellipse1,
.ellipse2,
.ellipse3{display: none;}
.circle1,
.circle2{
    display: none;
} 

img.backgroundimg{
    position: absolute;
    border-radius: 50px 0px 0px 0px;
    width: 50%;
    height: fit-content;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    } 

.clock img{
    opacity: 0.9;
    width: 73%;
    position: relative;
    height: 30%;
    z-index: 1;
    left: 11%;
   }
.text1 {
    font-size: 2em;
    width: 72%;
    margin-top: 18%;
    font-family: "Libre Baskerville";
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    }
.text2 {
    font-size: 1em;
    width: 80%;
    margin-top: 4%;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
      }
.spots{
    text-align: center;
    }       


.banner img{
    width: 50%;
    }

   .button{
    width: 50%;
    padding-bottom: 10%;
   }
   .textcel1q,
   .textcel2q{
      font-size: 2rem;
  }
  .textcel1,
  .textcel2{
      font-size: 1rem;
  }

  .low{
    overflow: hidden;
display: flex;
flex-direction: column;
background-color: #73C3F4;
width: 100%;
}

}
@media (min-width: 576px)  and (max-width:767px){ 
.bkg{
    height: 100%;
}
img.backgroundimg{
    height:fit-content;
    width: 50%;
    height: 150%;
    position: absolute;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    
    }
.clock img{
    opacity: 0.9;
    width: 65%;
    position: relative;
    height: 31%;
    z-index: 1;
    left: 15%;
    }
        
.text1 {
    font-family: "Libre Baskerville";
    font-size: 2em;
    width: 60%;
    margin-top: 10%;
    margin-left: 10%;
    

    }
.text2 {
    font-family: "Montserrat";
    font-size: 1.2em;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    
        }
  img.imgbanner{
    width: 25%;
    padding-top: 3%;
    padding-bottom: 10%;
}
img.ellipse3{
    z-index: -1;
    margin-top: -164%;
    margin-left: -163%;

}
.spots{
    text-align: center;
    font-size: 1.2em;
    }  
.circle1,
.circle2{
    display: none;
} 
.buttonimg{
    width: 60%;
    padding-bottom: 10%;
    }
.textcel1q,
.textcel2q{
        font-size: 2.1rem;
        line-height: 1;
    }
.textcel1,
.textcel2{
    font-size: 1.2rem;
    line-height: 2;
    }

    .low{
        overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #73C3F4;
    width: 100%;
    }

}
@media (min-width: 768px) and (max-width: 991px) { 
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }
img.backgroundimg{
   
    width: 50%;
    height: auto;
    }
.clock img{
    opacity: 0.9;
    width: 108%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: -9%;
    margin-top: -18%;
    padding: 17%;
}
    
   
.text1 {
   
    font-family: "Libre Baskerville";
    font-size: 2.1em;
    width: 45%;
    margin-top: 7%;
    margin-left: -34%;
    text-align: left;
    line-height: 1.3;
    

    }
.text2 {
    font-family: "Montserrat";
    font-size: 1.3em;
    width: 66%;
    /* padding-bottom: 0; */
    padding-top: -7%;
    margin-left: 0%;
    text-align: left;
        }
img.imgbanner{
    width: 25%;
    padding-top: 4%;
    padding-bottom: 10%;
}
.elli3{
    
    width: 100%;
    overflow: hidden;
    z-index: -1;
    
}

.circle2{
    overflow: hidden;
    align-self: flex-start;
    margin-top: -47%;
  }

.circle1{
    
    overflow: hidden;
    align-self: flex-end;
    margin-top: -47%;
 }
.circle1img{
    align-self: flex-start;
    left: 11%;
    top:50px
}

.spots{
    text-align: center;
    font-size: 1.2em;
    }       
img.buttonimg{
width: 55%;
    }
 .textcel1q,
 .textcel2q{
    font-size: 2.2em;
    line-height: 1;
}
.textcel1,
.textcel2{
    font-size: 1.3em;
}
.low{
    overflow: hidden;
display: flex;
flex-direction: column;
background-color: #73C3F4;
width: 100%;
}

}
   
@media (min-width: 992px) and (max-width: 1199px) { 
.backgroundimg{
    position: absolute;
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: -1;
    }

.clock img{
    opacity: 0.9;
    width: 84%;
    position: relative;
    height: 29%;
    z-index: 1;
    left: 4%;
    margin-top: -7%;
    padding: 4%;

    }

.text1 {
    font-family: "Libre Baskerville";
    font-size: 2.1em;
    width: 45%;
    margin-top: 7%;
    margin-left: -34%;
    text-align: left;
    line-height: 1.3;


    }
.text2 {
    font-family: "Montserrat";
    font-size: 1.3em;
    width: 48%;
    margin-top: 31%;
    margin-left: -40%;
    text-align: left;

    }
img.imgbanner{
    width: 25%;
    padding-top: 4%;
    padding-bottom: 10%;
    }
.elli3{
    width: 100%;
    overflow: hidden;
    position: relative;
    left: -1%;
    z-index: -1;

    }

.circle2{
    overflow: hidden;
    align-self: flex-start;
    margin-top: -47%;
    }

.circle1{
   
    overflow: hidden;
    align-self: flex-end;
    margin-top: -47%;
    }
.circle1img{
    align-self: flex-start;
    left: 11%;
    top:50px
    }

.spots{
    text-align: center;
    font-size: 1.2em;
    }       
img.buttonimg{
    width: 55%;
    }
.textcel1q,
.textcel2q{
    font-size: 2.3em;
    line-height: 1;
    }
.textcel1,
.textcel2{
    font-size: 1.4em;
    }
    .low{
        overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #73C3F4;
    width: 100%;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) {
    /* .over{
        
        flex-direction: row;
        } */
        .top{
            overflow: hidden;
        }
        .spots,
        .circle1{
            display: none;
        }
        img.imgbanner {
            width: 19%;
            padding-top: 1%;
            padding-bottom: 4%;
        }
        .backgroundimg{
            position: absolute;
            width: 40%;
            -ms-flex-item-align: end;
            align-self: flex-end;
            z-index: -1;
            }
            .clock img{
                opacity: 0.8;
    width: 80%;
    position: relative;
    left: 24%;
    margin-bottom: 22%;
    margin-top: 16%;
                
                }
           
        
        
        .text1 {
           font-family: "Libre Baskerville";
            font-size: 3rem;
            width: 30%;
            text-align: left;
            line-height: 1.3;
            position: absolute;
            left: -4rem;
            display: block;
            margin: 1% 0% 15% 10%;
            padding-bottom: 3rem;
        }
        
            
            
        .text2 {
        display: block;
        position: absolute;
        font-family: "Montserrat";
        font-size: 1.2rem;
        width: 23%;
        margin-top: 26%;
        margin-right: 65%;
        margin-bottom: 9%;
        text-align: left;
        padding-top: 3rem;
            }
        img.imgbanner{
            width: 25%;
            padding-top: -1%;
            padding-bottom: 4%;
            }
        .elli3{
           
            right: 84%;
            position: relative;
            z-index: -1;
           
        
            }
            .elli{
                align-self: flex-end;
             
            }
           
        .circle2{
            overflow: hidden;
            align-self: flex-start;
            margin-top: -47%;
            }
        
           
            
        .circle1img{
            align-self: flex-start;
            left: 11%;
            top:50px
            }
            .button2 {
                width: 62%;
          
                margin-top: 1%;
                margin-left: 9%;
                position: relative;
         
    }
            
             
        img.buttonimg{
            width: 55%;
            }
        .textcel1q,
        .textcel2q{
            font-size: 2.5em;
            line-height: 1;
            }
        .textcel1,
        .textcel2{
            font-size: 1.4em;
            }
            .who{
                overflow: hidden;
                display: flex;
                
            }
            .low{
                overflow: hidden;
                display: flex;
                flex-direction: row;
                background-color: #73C3F4;
                width: 100%;
            }
            .woman{
                width: 100%;
                background-color: #73C3F4;
            }
            img.womanimg{
                margin: 47% 2% 1% -11%;
                width: 81%;
            
    
        }
}
@media (min-width: 1400px) {
    
 .over{
        
    flex-direction: row;
    }
    .top{
        overflow: hidden;
    }
    .spots,
    .circle1{
        display: none;
    }
    img.imgbanner {
        width: 19%;
        padding-top: 1%;
        padding-bottom: 4%;
    }
    .backgroundimg{
        position: absolute;
        width: 40%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        z-index: -1;
        }
        .clock{
            opacity: 0.8;
            width: 100%;
            position: relative;
            left: 36%;
            margin-bottom: 14%;
            margin-top: 8%;
            
            }
       
    .text p{
        max-width:30% ;
        font-size: 3rem;
    }
    
    .text1 {
        font-family: "Libre Baskerville";
        font-size: 3.5rem;
        width: 25%;
        text-align: left;
        line-height: 1.3;
        position: absolute;
        left: -4rem;
        display: block;
        margin: 1% 0% 15% 10%;
        padding-bottom: 3rem;
    }
        
        
    .text2 {
    display: block;
    position: absolute;
    font-family: "Montserrat";
    font-size: 1.2rem;
    width: 23%;
    margin-top: 26%;
    margin-right: 65%;
    margin-bottom: 9%;
    text-align: left;
    padding-top: 3rem;
        }
    img.imgbanner{
        width: 25%;
        padding-top: -1%;
        padding-bottom: 4%;
        }
    .elli3{
        margin-top: -12%;
        width: 108%;
        z-index: -1;
        /* margin-top: auto; */
        /* margin-right: 24%; */
        position: relative;
        left: -73%;
        bottom: 10%;
        border: solid green;
    
        }
        .elli{
            align-self: flex-end;
         
        }
       
    .circle2{
        overflow: hidden;
        align-self: flex-start;
        margin-top: -47%;
        }
    
       
        
    .circle1img{
        align-self: flex-start;
        left: 11%;
        top:50px
        }
        .button2 {
            width: 62%;
          
            margin-top: 1%;
            margin-left: 9%;
            position: relative;
     
}
        
         
    img.buttonimg{
        width: 55%;
        }
    .textcel1q,
    .textcel2q{
        font-size: 2.6em;
        line-height: 1;
        }
    .textcel1,
    .textcel2{
        font-size: 1.4em;
        width: 64%;
        }
        .who{
            overflow: hidden;
            display: flex;
            
        }
        .low{
            overflow: hidden;
            display: flex;
            flex-direction: row;
            background-color: #73C3F4;
            width: 100%;
        }
        .woman{
            width: 100%;
            background-color: #73C3F4;
        }
        img.womanimg{
            margin: 16% -3% 1% -11%;
            width: 81%;
        

    }
}