body{
  background-color: rgb(235, 234, 233);
}
@media(min-device-width: 830px) and (max-device-width: 1920px){
  img.bannercel,
  img.bannertab,
  img.woman,
  img.textcel1,
  img.textcel2,
  img.hamburguer,
  img.backgroundcel,
  img.backgroundtab,
  img.whotab,
  img.whocel,
  img.spots,
  .textcel2,
  .textcel1,
  .textcel2q,
  .textcel1q{
      display: none;
}
nav{
  margin-left: 250px;
}
img.logo{
  width: 28vh;
}
nav ul li {
  display:  inline-block;
  margin: 14px 31px;
  font-family: "monserrat";
  font-size: 14px;
}
  img.background{
  width: 200vh;
  height: 75vh;
  z-index: -1;
}
img.clock {
  position: absolute;
  top: 25vh;
  right: 36vh;
  height: 31vh;
  width: 61vh;
  z-index: 1;
  opacity: 0.7
}
  img.button{
  position: absolute;
  top: 76vh;
  right: 126vh;
  height: 5vh;
  width: 27vh;
}
  img.banner{
  width: 200vh;
  height: 60vh;
}
  img.who{
  width: 200vh;
  height: 85vh;
} 
.text1 {
  position: absolute;
  margin-left: 196px;
  width: 36vh;
  top: 24vh;
  right: 130vh;
  height: 264px;
  left: 13vh;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 150%;
  color: #333333;
}
.text2 {
  position: absolute;
  top: 61vh;
  right: 111vh;
  color: #333333;
  width: 425px;
  height: 78px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;    
}
}
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
	.text1 {
    position: absolute;
    margin-left: 196px;
    width: 61vh;
    top: 21vh;
    right: 130vh;
    height: 264px;
    left: 2vh;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #333333;
  }
}
 @media(min-device-width: 326px) and (max-device-width: 820px){
  img.bannercel,
  img.banner,
  img.woman,
  img.whocel,
  nav ul li,
  img.textcel1,
  img.textcel2,
  img.background,
  img.backgroundcel,
  img.who,
  .textcel2,
  .textcel1,
  .textcel2q,
  .textcel1q{
  display: none;
} 
img.hamburguer{
  float: right;
}
.spots{
  position: absolute;
  top: 18vh;
  right: 34vh;
  height: 2vh;
  width: 31vh;
} 
img.backgroundtab {
  position: absolute;
  top: 9vh;
  right: 1vh;
  width: 50%;
  height: 107vh;
  z-index: -1;
}
img.clock {
  position: absolute;
  top: 41vh;
  right: 53vh;
  height: 32vh;
  width: 60vh;
  opacity: 0.7;
}
.text1 {
  position: absolute;
  width: 61vh;
  height: 2;
  top: -1vh;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 150%;
  color: #333333;
  margin-left: 57vh
}
.text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  position: absolute;
  top: 68vh;
  right: 46vh;
  color: #333333;
  width: 425px;
}
img.button {
  position: absolute;
  top: 91vh;
  right: 76vh;
  height: 5vh;
  width: 26vh;
  z-index: 1;
}
 img.bannertab{
  margin-top: 99vh;
  width: 100%;
  height: 49vh;
}   
img.whotab {
  margin-top: -2vh;
  width: 100%;
  height: 258vh;    
}     
}
@media (max-device-width: 325px){
nav ul li,
img.who,
img.whotab,
img.banner,
img.bannertab,
img.background,
img.backgroundtab{
  display:none;
}
nav{
  margin-left: 26vh;
  width: 48vh;
  height: 0vh;
  margin-top: 2vh;
}
img.hamburguer{
  float: right;
}
img.backgroundcel {
  width: 41vh;
    right: -47vh;
    position: relative;
    height: 107vh;
    z-index: -1;
}
.text1 {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 160%;
  color: #333333;
  position: absolute;
  top: 8vh;
  right: 1vh;
  height: 18vh;
  width: 29vh;
  z-index: 1;
}
.text2 {
  position: absolute;
  font-family: "Montserrat";
  font-size: 27px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #333333;
  text-align: left;
  top: 60vh;
  right: 1vh;
  height: 17vh;
  width: 31vh;
}

img.clock {
  position: absolute;
  top: 38vh;
  right: -7vh;
  height: 22vh;
  width: 44vh;
  z-index: 1;
  opacity: 0.8;
}
.spots{
  position: absolute;
  top: 18vh;
  right: 1vh;
  height: 2vh;
  width: 31vh;
} 
img.button {
  position: absolute;
  top: 79vh;
  right: 5vh;
  height: 5vh;
  width: 26vh;
  z-index: 1;
}
img.bannercel{
  position: absolute;
  top: 109vh;
  height: -12vh;
  width: 91vh;
  z-index: 1
}

img.whocel {
  width: 90vh;
  height: 253vh;
}
.textcel1q{
  font-family: "Monsterrat";
  font-size: 34px;
  color: #FFFFFF;
  position: absolute;
  top: 234vh;
  right: -1vh;
}
.textcel1{
  font-family: "Monsterrat";
  font-size: 34px;
  color: #FFFFFF;
  position: absolute;
  top: 244vh;
  right: 6vh;
  width: 33vh;
}

.textcel2q {
  font-family: "Monsterrat";
  font-size: 34px;
  color: #FFFFFF;
  position: absolute;
  top: 265vh;
  right: 12vh;
}
.textcel2 {
  font-family: "Monsterrat";
  font-size: 34px;
  color: #FFFFFF;
  position: absolute;
  top: 278vh;
  right: 6vh;
  width: 33vh;
}
img.woman {
  position: absolute;
  top: 305vh;
  right: 0vh;
  height: 46vh;
  width: 41vh;
  z-index: 1;
}

}
