* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: fit-content;
}

header.header{
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-end;
}
nav.desktop-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
ul.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 2vh;
}
li {
    font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

    margin: 5vh;
}
.clock{
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    top: 32%;
    right: 12%;
    width: 50%;

}
/* desktop1*/
@media (min-width: 1501px)  {
    img.bannercelimg,
    img.bannertabimg,
    img.womanimg,
    img.textcel1,
    img.textcel2,
    img.hamburguer,
    img.backgroundcelimg,
    img.backgroundtabimg,
    img.whotabimg,
    img.whocelimg,
    img.spotsimg,
    .textcel2,
    .textcel1,
    .textcel2q,
    .textcel1q,
    .ellipse1,
    .ellipse2,
    .ellipse3,
    img.ellipse1cel,
    img.button2{
        display: none;
  }
    body{
        background-color: #eceaea;
    }
    .background{
        background-image:  url("background.png");
        z-index: -1;
        display: flex;
        flex-direction: column;
        width: 100%;
       
  
    }
    p.text1{
        font-size: 3em;
    }
    .bannerimg{
        object-fit: cover;
  width:100%;
  height:100%;
    }
    .whoimg{
        object-fit: cover;
        width:100%;
        height:100%;
    }
    .button{
        position: absolute;
        width: 43%;
        z-index: 1;
        top: 62%;
        right: 37%;
     
    }

    
    .text1{
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 3em;
        color: #585656;
        position: absolute;
        top: 28%;
        width: 24%;
        margin-left: 22%;
        
}
    
    
    .text2{
    
    font-style: normal;
    color: #333333;
    position: absolute;
    top: 50%;
    width: 21%;
    margin-left: 20%;
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    

}
    
    
    
}
@media (min-width: 992) and (max-width: 1300px){}
/* desktop2*/
@media (min-width: 991.98px) and (max-width: 1500px) {
    img.bannercelimg,
    img.bannertabimg,
    img.womanimg,
    img.textcel1,
    img.textcel2,
    img.hamburguer,
    img.backgroundcelimg,
    img.backgroundtabimg,
    img.whotabimg,
    img.whocelimg,
    img.spotsimg,
    .textcel2,
    .textcel1,
    .textcel2q,
    .textcel1q,
    .ellipse1,
    .ellipse2,
    .ellipse3,
    img.ellipse1cel,
    img.button2{
        display: none;
    }
    body{
        background-color: #eceaea;
    }
    .background{ 
         background-image:  url("background.png")
        }
 .clock{
    position: absolute;
        width: 58%;
        z-index: 1;
        top: 77%;
        right: -25%;
    }

.button {
    position: absolute;
    width: 43%;
    z-index: 1;
    top: 111%;
    right: 37%;

}
        
        .text1{
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 3em;
        color: #333333;
        position: absolute;
        top: 22vh;
        width: 49vh;
        margin-left: 41vh;
    }
    p.text1{
        font-size: 2.5em;
    }
        
    .text2{
        font-style: normal;
        color: #333333;
        position: absolute;
        top: 96%;
        width: 49%;
        margin-left: 20%;
        font-family: "Montserrat";
        font-size: 19px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
        
    
    }
  


/*Tablet*/

@media (min-width: 576px) and (max-width: 991.97px)  {
    li,
    img.whoimg,
    img.whocelimg,
    img.bannerimg,
    img.bannercelimg,
    img.backgroundimg,
    img.backgroundcelimg,
    img.spotsimg,
    .textcel2,
    .textcel1,
    .textcel2q,
    .textcel1q,
    .ellipse1,
    .ellipse2,
    .ellipse3,
    img.ellipse1cel,
    img.button2,
    img.womanimg{
      display:none;
    }
    
    .background {
        background-image: url(backgroundtab.png);
        z-index: -1;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: stretch;
    }

img.hamburguer{
    position: absolute;
    margin-left: 10%;
    z-index: 1;
}
.clock{
    position: absolute;
    width: 63%;
    opacity: 0.9;
    z-index: 1;
    top: 22vh;
    right: 7vh;
}
p.text1{
    font-size: 2em;
}
.buttonimg{
    position: absolute;
    width: 43%;
    z-index: 1;
    top: 50vh;
    right: 12vh;
}
.text1{
    
        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 2.3em;
        color: #333333;
        position: absolute;
        top: 20%;
        width: 40%;
        margin-left: 20%;
    
}
.text2 {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7em;
    line-height: 160%;
    color: #333333;
    position: absolute;
    top: 50%;
    width: 38%;
    margin-left: 10%;
}
}

/*cell*/
@media (max-width: 575.98px) {
    li,
    img.whoimg,
    img.whotabimg,
    img.bannerimg,
    img.bannertabimg,
    img.backgroundimg,
    img.backgroundtabimg,
    .ellipse2,
    .ellipse3{
      display:none;
    }
    body{background: green;}
    .background{ 
        background-image:  url("backgroundcel.png")
       }
       p.text1{
        font-size: 1.5em;
    }
 }
